<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <h1 class="m-0">PresentAI</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto py-0">
        <a [routerLink]="['/']" class="nav-item nav-link active">Home</a>
        <a [routerLink]="['/tool']" class="nav-item nav-link">Get Started</a>

        <a href="about.html" class="nav-item nav-link">About</a>
      
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
          <div class="dropdown-menu m-0">
            <a href="team.html" class="dropdown-item">Services</a>
            <a href="testimonial.html" class="dropdown-item">Pricing</a>
          </div>
        </div>
        <a href="contact.html" class="nav-item nav-link">Contact</a>
      </div>
      <a href="" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block" [routerLink]="['/register-user']">
        <i class="fas fa-user-plus" aria-hidden="true"></i> Sign Up</a>

      <a href="" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block" [routerLink]="['/sign-in']">
        <i class="fas fa-sign-in"></i>
          Sign In
      </a>

    </div>
  </nav>

</div>
<!-- Navbar & Hero End -->
