<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="row g-4">
      <div class="container m-5">
        <div class="row">
          <div class="col-sm-5">
            <div class="displayTableCell">
              <div class="authBlock">
                <h3>Reset Password</h3>
                <p >Please enter your email address to request a password reset.</p>
                <div class="formGroup">
                  <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
                </div>
                <!-- Calling ForgotPassword from AuthService Api -->
                <div class="formGroup">
                  <button type="submit" class="btn btn-primary m-2" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
                </div>
              </div>
              <div class="redirectToLogin">
                <span>Go back to ? <a class="redirect" [routerLink]="['/sign-in']">Log In</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


